/*
(c) Vadim Pavlov 2020
RpiDNS
*/
html,body {height: 100%;}
.dropdown .dropdown-menu .dropdown-item:focus .sorting:focus  { outline: none;}
:focus {
  outline: none!important;
}
.menu-bkgr,.corners {background-color: #343038;} /*251956*/
.copyright{
  text-align: right;
  height: 20px; /* .push must be the same height as .footer */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.curl_angels {
  background-position: left top;
  border-radius: 10px 0px 0px 0px;
  background-color: #F5FAFB;
}
.corners {
   padding: 0;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.spacer { margin: 0 10px;}

.v-spacer { margin: 10px 0;}

[v-cloak] {
  display: none !important;
}

.hidden {
  display: none!important;
}

@media (min-width: 1366px){
	.d-xxl-block {
			display: block!important;
	}
	.d-xxl-table-cell {
			display: table-cell!important;
	}
}

/*Colors*/
.salmon {
	color: salmon;
}

.white {
	color: white;
}

.green {
	color: LimeGreen;
}


.width005{width: 005px;}
.width010{width: 010px;}
.width020{width: 020px;}
.width050{width: 055px;}
.width060{width: 065px;}
.width100{width: 100px;}
.width105{width: 105px;}
.width150{width: 155px;}
.width180{width: 180px;}
.width200{width: 200px;}
.width250{width: 250px;}
.width300{width: 300px;}
.width350{width: 350px;}

.mw050{max-width: 50px;}
.mw150{max-width: 100px;}
.mw150{max-width: 150px;}
.mw200{max-width: 200px;}
.mw250{max-width: 250px;}
.mw300{max-width: 300px;}
.mw350{max-width: 350px;}
.mw400{max-width: 400px;}


.whitebg{
	background-color: white;
}

.page-link
{
    background-color: white;
    color: #868e96;
}

.page-link:focus,
.page-link:hover,
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.page-item.active .page-link
{
    color: white;
    background-color: #868e96 !Important;
    border: solid 1px #868e96 !Important;
}

.page-item.active .page-link:hover
{
    background-color: #ddd !Important;
    border: solid 1px #eee;
}

.scroll_tab{
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;	
}

.mouseoverpointer{
	cursor: pointer;
}

.modal-header, .modal-footer, .modal-body  {
/*
  Check how to fix Tkey we need to remove padding header(bottom), footer(top)
  padding: 5px 5px 5px 16px;
*/
  border: 0;
}

